.link {
  display: inline-block;
  color: black;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  background-color: #22fd51;
  padding: 14px 40px;
  border-radius: 100px;
  border: none;

  transition: background-color 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
    color 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.link:hover,
.link:focus {
  background-color: #22fd51;
  color: #9af1ad;
}
